
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Anyone can read furniture listings
    match /furniture/{furnitureId} {
      allow read: if true;
      // Only authenticated users can create, update, or delete.
      allow write: if request.auth != null;
    }
  }
}
